@import "./grid.scss";
@import "./base.scss";
@import "./guide.scss";


.t-nav{
  background: #fff;
}

h1{
  font-size: $h1size / 4;
  @include mq(){
    font-size: $h1size / 8 * 6;
  }
}

h2{
  font-size: $h1size / 8 * 6;
  margin-bottom: $h1size / 2;
  @include mq(){
    font-size: $h1size / 8 * 4;
  }
  @include mq(sm){
    font-size: $h1size / 8 * 3;
    font-weight: 300;
  }
}

h3{
  font-size: $h1size / 8 * 4;
  margin-bottom: $h1size / 2;
  @include mq(){
    font-size: $h1size / 8 * 3;
  }
  @include mq(sm){
    font-size: $h1size / 8 * 2;
    font-weight: 600;
  }
}

p{
  font-size: $psize;
  line-height: 2.0em;
}

.cont-wrap{
  padding: $h1size 0;
  &.guide-wrap{
    padding: 0;
  }
}

section{
  margin-bottom: 32px;
}
