@charset "UTF-8";
/* グリッド */
/* フォント */
/* ブレイクポイントの設定 min~max */
/* アニメーション */
/* テキストの揃え */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* メディアクエリごとの要素の消去（ex:hidden-smをつけるとsm以下で消える） */
@media screen and (min-width: 1153px) and (max-width: 99999px) {
  .hidden-lg {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1152px) {
  .hidden-md {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .hidden-xs {
    display: none;
  }
}

/* マージンリセット */
.margin-reset {
  margin: 0;
}

/* flexboxの揃え（.col-wrapの要素に付与する） */
.wrap-left {
  justify-content: flex-start;
}

.wrap-right {
  justify-content: flex-end;
}

.wrap-center {
  justify-content: center;
}

.wrap-top {
  align-items: flex-start;
}

.wrap-bottom {
  align-items: flex-end;
}

.wrap-middle {
  align-items: center;
}

/* flexboxの揃え（.colの要素に付与する） */
.col-top {
  align-self: flex-start;
}

.col-bottom {
  align-self: flex-end;
}

.col-middle {
  align-self: center;
}
